@inherits ApproveDenyLeaveBase

@if (ShowDialog)
{
    <div class="modal fade show d-block overflow-y-auto-mobile" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="float-left pl-2">Leave Request</span>
                    <button type="button" class="btn-close close-modal close pr-4" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 pl-0 pr-0">
                            <EditForm Model="@Leave" OnValidSubmit="Approve">
                                <DataAnnotationsValidator />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row no-gutters">
                                    <div class="col-sm-12 ">
                                        <div class="form-group row align-items-baseline">
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">Employee Name</label>
                                                <div class="col-sm-8 pl-0">
                                                    <CustomInputSelect id="weekend" disabled=true @bind-Value="Leave.EmployeeID" class="form-control form-control-sm">
                                                        <option value='0'>select</option>
                                                        @if (EmployeeList != null)
                                                            {

                                                            @foreach (var employee in EmployeeList)
                                                                {
                                                                <option value="@employee.EmployeeID">@employee.EmployeeName</option>
                                                                }
                                                            }
                                                    </CustomInputSelect>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">Leave Type</label>
                                                <div class="col-sm-8 pl-0">
                                                    <CustomInputSelect id="weekend" disabled=true @bind-Value="Leave.LeaveTypeID" class="form-control form-control-sm">
                                                        <option value='0'>select</option>
                                                        @if (VacationTypeList != null)
                                                            {

                                                            @foreach (var vacation in VacationTypeList)
                                                                {
                                                                <option value="@vacation.ListValueID">@vacation.ValueDesc</option>
                                                                }
                                                            }
                                                    </CustomInputSelect>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">
                                        <div class="form-group row align-items-baseline">
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">Start Date</label>
                                                <div class="col-sm-8 pl-0">
                                                    <InputDate class="form-control form-control-sm" disabled=true @bind-Value="Leave.StartDate" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">End Date</label>
                                                <div class="col-sm-8 pl-0">
                                                    <InputDate class="form-control form-control-sm" disabled=true @bind-Value="Leave.EndDate" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">
                                        <div class="form-group row align-items-baseline">
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">Includes Half Day</label>
                                                <div class="col-sm-8 pl-0">
                                                    <InputCheckbox class="form-control form-control-checkbox" type="checkbox" disabled="true" @bind-Value="Leave.IncludesHalfDay" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">Balance Leave</label>
                                                <div class="col-sm-8 pl-0">
                                                    <InputNumber class="form-control form-control-sm" disabled="true" @bind-Value="BalanceLeaves" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">
                                        <div class="form-group row align-items-baseline">
                                            <div class="col-sm-12 d-flex pl-0">
                                                <label class="control-label col-sm-2 col-form-label pr-0">Title</label>
                                                <div class="col-sm-10 pl-2">
                                                    <InputTextArea class="form-control form-control-sm" rows="3" disabled=true @bind-Value="Leave.Title" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">
                                        <div class="form-group row align-items-baseline">
                                            <div class="col-sm-12 d-flex pl-0">
                                                <label class="control-label col-sm-2 col-form-label pr-0">Detail</label>
                                                <div class="col-sm-10 pl-2">
                                                    <InputTextArea class="form-control form-control-sm " rows="3" disabled=true @bind-Value="Leave.Detail" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">
                                        <div class="form-group row align-items-baseline">
                                            <div class="col-sm-12 d-flex pl-0">
                                                <label class="control-label col-sm-2 col-form-label pr-0">Comment</label>
                                                <div class="col-sm-10 pl-2">
                                                    <InputTextArea class="form-control form-control-sm autofocus" rows="3" @bind-Value="Leave.Comment" maxlength="500" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">
                                        <div class="form-group row align-items-baseline">
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">Requester</label>
                                                <div class="col-sm-8 pl-0">
                                                    <CustomInputSelect id="weekend" disabled=true @bind-Value="Leave.RequesterID" class="form-control form-control-sm">
                                                        <option value='0'>select</option>
                                                        @if (EmployeeList != null)
                                                            {

                                                            @foreach (var employee in EmployeeList)
                                                                {
                                                                <option value="@employee.EmployeeID">@employee.EmployeeName</option>
                                                                }
                                                            }
                                                    </CustomInputSelect>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">Approver</label>
                                                <div class="col-sm-8 pl-0">
                                                    <InputText class="form-control form-control-sm" disabled="true" @bind-Value="Leave.Approver" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 ">
                                        <div class="form-group row align-items-baseline">
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">Status</label>
                                                <div class="col-sm-8 pl-0">
                                                    <CustomInputSelect id="weekend" disabled=true @bind-Value="Leave.StatusID" class="form-control form-control-sm">
                                                        <option value='0'>select</option>
                                                        @if (StatusList != null)
                                                            {

                                                            @foreach (var status in StatusList)
                                                                {
                                                                <option value="@status.ListValueID">@status.ValueDesc</option>
                                                                }
                                                            }
                                                    </CustomInputSelect>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 display-flex">
                                                <label class="control-label col-sm-4 col-form-label">Duration</label>
                                                <div class="col-sm-8 pl-0">
                                                    <InputNumber class="form-control form-control-sm" disabled="true" @bind-Value="Leave.Duration" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group rightPadding-mobile pt-2 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary btn-width-height btn-width-remove-mobile" disabled=@(Leave.Status.ToLower()=="Approved".ToLower() || Leave.Status.ToLower()!="Pending".ToLower() ? true : false || isApproveDisabled)>Approve</button>
                                    <button type="button" class="btn btn-danger btn-width-height btn-width-remove-mobile ml-1" @onclick="LeaveDeny" disabled=@(Leave.Status.ToLower()=="Denied".ToLower() || Leave.Status.ToLower()!="Pending".ToLower() ? true : false || isDenyDisabled)>Deny</button>
                                    <button type="button" class="btn btn-danger btn-height btn-width-remove-mobile-webkit ml-1" @onclick="LeaveCancel" disabled=@(Leave.Status.ToLower() == "Approved".ToLower() ? false : true || isCancelDisabled)>Cancel Leave</button>
                                    <button type="button" class="btn btn-danger btn-width-height ml-1" @onclick="Cancel">Close</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}