@page "/asset"
@using BlazorTable;
@using ILT.IHR.DTO;
@using ILT.IHR.UI.Pages.DeleteConfirmation;
@inherits AssetsBase;
@inject NavigationManager NavigationManager

@if (AssetRolePermission != null && AssetRolePermission.View == false)
{
    NavigationManager.NavigateTo("");
}
<h3 style="margin-bottom:1px;">Asset</h3>
<div class="row reduce-margin-top hidden-web">
    <div class="col-12">
        @if (lstAssetsList != null)
        {
            <Table TableItem="Asset" Items="lstAssetsList" ColumnReorder="true" ShowSearchBar="true" SelectionType="SelectionType.Single" RowActions="RowActions" RowClickAction="RowClick" HeaderActions="HeaderAction"
                   PageSize="DefaultPageSize" UpdatePageSize="UpdatePageSize"
                   DropDownLabel="Status :" onMultiSelectDropDown1="lstTicketStatus" onMultiDropDown1Change="onChangeAssetStatusList" 
                   DropDown2Label="Asset Type:" onMultiSelectDropDown="lstAssetType" onMultiDropDownChange="onChangeAssetTypeList" DropDown2DefaultID="DropDown2DefaultID">
                <Column TableItem="Asset" Title="Tag" Field="@(x => x.Tag)" Sortable="true" Filterable="false" DefaultSortColumn="true"></Column>

                <Column TableItem="Asset" Title="Asset Type" Field="@(x => x.AssetType)" Sortable="true" Filterable="false">
                </Column>

                <Column TableItem="Asset" Title="Make" Field="@(x => x.Make)" Sortable="true" Filterable="false">
                </Column>

                <Column TableItem="Asset" Title="Model" Field="@(x => x.Model)" Sortable="true" Filterable="false">
                </Column>

                <Column TableItem="Asset" Title="Purchase Date" Field="@(x => x.PurchaseDate)" Sortable="true" Filterable="false">
                    <Template>
                        @(context.PurchaseDate != null ? FormatDate(context.PurchaseDate) : "")
                    </Template>
                </Column>
                <Column TableItem="Asset" Title="Waranty ExpDate" Field="@(x => x.WarantyExpDate)" Sortable="true" Filterable="false">
                    <Template>
                        @(context.WarantyExpDate != null ? FormatDate(context.WarantyExpDate) : "")
                    </Template>
                </Column>
                <Column TableItem="Asset" Title="AssignedTo" Field="@(x => x.AssignedTo)" Sortable="true" Filterable="false"></Column>
                <Column TableItem="Asset" Title="Status" Field="@(x => x.Status)" Sortable="true" Filterable="false">
                </Column>
                <EmptyDataTemplate>
                    <div class="text-center">
                        No rows found!
                    </div>
                </EmptyDataTemplate>
                <Pager ShowPageNumber="true" ShowTotalCount="true" />
            </Table>
        }
        else
        {
            @*<NoResultMessage></NoResultMessage>*@
            <span></span>
        }
    </div>
</div>

<div class="row mt-2 hidden-web hidden-mobile">
    <div class="col-12 ">
        <div class="row mr-0 pb-1 display-flex mobile-display">
            <div class="col-12 col-sm-3 pr-1 mobile-padding-remove mobile-pad-left-add">
                <input type="text" id="myFilter" class="form-control form-control-sm float-left" placeholder="Global Search..." @onkeyup="SearchFuntion" />
            </div>
            <div class="col-12 col-sm-3 pl-0  mobile-pad-right-add" style="display: flow-root; justify-content: center; align-items: center;">
                @if (lstTicketStatus != null)
                {
                    <div class="row align-items-center mobile-pad-top-add">
                        <label class="col-5 col-form-label mobile-transform-translate mobile-card-view-label">Status:</label>
                        <div class="col-7 pl-0 pr-0 mobile-first-dropdown-padding">
                            <div class="mulit-select-dropdown">
                                <button type="button" class="form-control form-control-sm mulit-select-dropbtn">@getSelectedRoles1()</button>
                                <div class="mulit-select-dropdown-content" style="min-width:200px;">
                                    @foreach (var item in lstTicketStatus)
                                    {
                                        <div class="row col-12 align-items-center">
                                            <label for="@item.ID" class="mb-0" style="font-weight: 400; color: #495057; line-height: 15px;">
                                                @if (item.IsSelected)
                                                {
                                                    <input type="checkbox" style="width:15px; height: 15px; vertical-align: bottom;" id="@item.ID" checked="checked" @onchange="@((e) => OnMultiDropDown1Change(e, item.ID))" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" style="width:15px; height: 15px; vertical-align: bottom;" id="@item.ID" @onchange="@((e) => OnMultiDropDown1Change(e, item.ID))" />
                                                }
                                                @item.Value
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-12 col-sm-6 header-actions mobile-pad-top-add">
                <div class="col-12 col-sm-12 display-end pl-0 pr-0 ">
                    @if (lstAssetType != null)
                    {
                        <div class="col-12 col-sm-8 display-dropdown2 pr-0 ">
                            <label class="col-12 col-sm-2 col-form-label mobile-card-view-label">Asset Type:</label>

                            <div class="col-7 col-sm-6 pl-0 mobile-padding-remove">
                                <div class="mulit-select-dropdown">

                                    <button type="button" class="form-control form-control-sm mulit-select-dropbtn">@getSelectedRoles()</button>
                                    <div class="mulit-select-dropdown-content" style="min-width:200px; position: absolute;">
                                        @foreach (var item in lstAssetType)
                                        {
                                            <div class="row col-12 align-items-center">
                                                <label for="@item.ID" class="mb-0" style="font-weight: 400; color: #495057; line-height: 15px;">
                                                    @if (item.IsSelected)
                                                    {
                                                        <input type="checkbox" style="width:15px; height: 15px; vertical-align: bottom;" id="@item.ID" checked="checked" @onchange="@((e) => OnMultiDropDownChange(e, item.ID))" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" style="width:15px; height: 15px; vertical-align: bottom;" id="@item.ID" @onchange="@((e) => OnMultiDropDownChange(e, item.ID))" />
                                                    }
                                                    @item.Value
                                                </label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-sm-4 header-buttons  pr-0 pt-2">
                        @if (HeaderAction != null)
                        {
                            @foreach (var HeaderAction in HeaderAction)
                            {
                                @if (HeaderAction.IsShow)
                                {
                                    <button type="button" class="btn remove-margin-moblie @(HeaderAction.ButtonClass == null ? " btn-primary" : @HeaderAction.ButtonClass) action-btn-lineheight float-right ml-2
                                                    @(HeaderAction.IsDisabled ? "disabled" : "" )" @onclick="HeaderAction.ActionMethod">
                                        <i class="@HeaderAction.IconClass" style="padding-right: 7px;" aria-hidden="true"></i>@HeaderAction.ActionText
                                    </button>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (lstAssetsList != null && lstAssetsList.Count > 0)
    {
        <div class="col-12 pt-2" id="myItems">
            @foreach (var asset in lstAssetsList)
            {
                <div class="col-sm-6 pl-0 pr-0">
                    <div class="card mobile-card-view mb-2" @onclick="(() => EditMobile(asset))">
                        <div class="card-body" style="padding-bottom:0.5rem !important;">
                            <div class="row">
                                <div class="col-12 pl-0" style="display: flex;">
                                    <label class="control-label col-5 pr-2 mobile-card-view-label">Tag :</label>
                                    <div class="col-7 pl-0 pr-0 mobile-card-view-value">
                                        @asset.Tag

                                    </div>
                                </div>
                                <div class="col-12 pl-0" style="display: flex;">
                                    <label class="control-label col-5 pr-2 mobile-card-view-label">Asset Type :</label>
                                    <div class="col-7 pl-0 pr-0 mobile-card-view-value">
                                        @asset.AssetType
                                    </div>
                                </div>
                                <div class="col-12 pl-0" style="display: flex;">
                                    <label class="control-label col-5 pr-2 mobile-card-view-label">Make / Model :</label>
                                    <div class="col-7 pl-0 pr-0 mobile-card-view-value">
                                        @asset.Make  @(asset.Model != null ? "/" : "") @asset.Model
                                    </div>
                                </div>
                                <div class="col-12 pl-0" style="display: flex;">
                                    <label class="control-label col-5 pr-2 mobile-card-view-label">Assigned To :</label>
                                    <div class="col-7 pl-0 pr-0 mobile-card-view-value">
                                        @asset.AssignedTo
                                    </div>
                                </div>
                                <div class="col-12 pl-0" style="display: flex;">
                                    <label class="control-label col-5 pr-2 mobile-card-view-label">Status :</label>
                                    <div class="col-7 pl-0 pr-0 mobile-card-view-value">
                                        @asset.Status
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            }

        </div>
    }
    else
    {
        <div class="col-12" style="padding-top:10rem;"></div>
    }
</div>


<AddEditAsset @ref="AddEditAssetModal" AssetUpdated="LoadList"></AddEditAsset>

<ILT.IHR.UI.Pages.Asset.AssetChangesSet.AssetChangeSet @ref="AssetChangeSetModal"></ILT.IHR.UI.Pages.Asset.AssetChangesSet.AssetChangeSet>




<Confirm @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete_Click"
         ConfirmationMessage=@($"Are you sure you want to delete")>
</Confirm>
